<h1 align='center'>Heart Attack Analysis and Prediction</h1>

### Project Content
1. [Introduction](#1)
    * 1.1 [Examining the Project Topic](#2)
    * 1.2 [Recognizing the variable](#3)
2. [First Organization](#4)
    * 2.1 [Required Libraries](#5)
        * 2.1.1 [Basic Libraries](#6)

### 1. Introduction <a id = 1/></a>

#### 1.1 Examining the Project Topic <a id = 2></a>

- The medical name of a heart attack is “Myocardial infarction”.
- Heart attack in short; It is the occlusion of the vessel by plaque-like lesions filled with cholesterol and fat.
- The lesion is an abnormal conditions that occur in the organs where the disease is located.
- As a result of the blockage, the blood flow is completely cut off, and a heart attack that can lead to death occurs.

#### 1.2 Recognizing the variable<a id = 3></a>

**Variable defintions in the Dataset**
- age - age in years
- sex 
    - Value 1 = male; 
    - Value 0 = female
- cp - chest pain type 
    - Value 1 = typical angina; 
    - Value 2 = atypical angina; 
    - Value 3 = non-anginal pain; 
    - Value 0 = asymptomatic
- trestbps - resting blood pressure (in mm Hg on admission to the hospital)
- chol - serum cholestoral in mg/dl
- fbs - fasting blood sugar > 120 mg/dl 
    - Value 1 = true
    - Value 0 = false
- restecg - resting electrocardiographic results 
    - Value 1 = normal; 
    - Value 2 = having ST-T wave abnormality; 
    - Value 0 = hypertrophy
- thalach - maximum heart rate achieved
- exang - exercise induced angina 
    - Value 1 = yes 
    - Value 0 = no
- oldpeak - ST depression induced by exercise relative to rest
- slope - the slope of the peak exercise ST segment 
    - Value 2 = upsloping; 
    - Value 1 = flat; 
    - Value 0 = downsloping)
- ca - number of major vessels (0-3) colored by flourosopy
- thal - 
    - Value 2 = normal; 
    - Value 1 = fixed defect; 
    - Value 3 = reversable defect
- num - the predicted attribute - diagnosis of heart disease (angiographic disease status) 
    - Value 0 = < diameter narrowing 
    - Value 1 = > 50% diameter narrowing

## Import libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load the dataset

In [2]:
dataset = pd.read_csv('heart.csv')
dataset

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Initial analysis

In [6]:
dataset.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
dataset.rename(columns={'thalachh':'thalach', 'exng':'exang', 'output':'target'}, inplace=True)
dataset.head(3)

,age,sex,cp,trtbps,chol,fbs,restecg,thalach,exang,oldpeak,slp,caa,thall,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      303 non-null    int64
 1   sex      303 non-null    int64
 2   cp       303 non-null    int64
 3   trtbps   303 non-null    int64
 4   chol     303 non-null    int64
 5   fbs      303 non-null    int64
 6   restecg  303 non-null    int64
 7   thalach  303 non-null    int64
 8   exang    303 non-null    int64
 9   oldpeak  303 non-null    float64
 10  slp      303 non-null    int64
 11  caa      303 non-null    int64
 12  thall    303 non-null    int64
 13  target   303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [9]:
dataset.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalach,exang,oldpeak,slp,caa,thall,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [11]:
dataset.isna().sum()

age        0
sex        0
cp         0
trtbps     0
chol       0
fbs        0
restecg    0
thalach    0
exang      0
oldpeak    0
slp        0
caa        0
thall      0
target     0
dtype: int64